.Prompter {
    text-align: center;
}

.month-buttons-container,
.deck-buttons-container,
.deck-info-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    max-width: 600px;
    margin: auto;
}

#book-quant-form span,
.Prompter span {
    font-weight: bold;
}

.deck-info-container p {
    font-size: 12px;
    margin: 0 auto;
}

.deck-info-container h3 {
    margin: 20px 0 4px;
}